<!-- <app-login-form></app-login-form> -->
<!-- <app-login-form></app-login-form> -->
<!-- <app-warning></app-warning> ->
    

 <app-sucess></app-sucess> -->


<!-- <button class="btn btn-primary" (click)="onToggleDisplay()">Display Details</button>
<p *ngIf="showSecret">Secret Password=tumb</p> -->

<!-- 
<app-recruiter></app-recruiter> -->
<p>Reactive form</p>
<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.valid,userForm.value)">
    <div class="form-group">
        <label for="username">first name</label>
        <input type="text"
        id="validationCustom01"
        formcontrolName="firstName"
        class="form-control" >
        <div class="text-dander" *ngIf="userForm.get('firstName').invalid && (userForm.get('firstName').dirty ||  userForm.get('firstName').touched)">
            please enter data!
        </div>
    </div>
        <div class="form-group">
            <label for="last name">last name</label>
            <input type="text"
            id="email"
            formcontrolName="lastName"
            class="form-control">
      </div>
            <button class="btn btn-primary">Submited form</button>
</form>
